/* line 6, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0; }

/* line 20, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1em;
  color: black;
  background: #fff; }

/* line 23, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 30, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 33, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" ""; }
  /* line 101, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 36, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
img a {
  border: none; }

/* line 2, ../../app/stylesheets/_interaction.sass */
.error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4; }
  /* line 28, ../../app/stylesheets/_interaction.sass */
  .error a {
    color: #8a1f11; }

/* line 4, ../../app/stylesheets/_interaction.sass */
.notice {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324; }
  /* line 36, ../../app/stylesheets/_interaction.sass */
  .notice a {
    color: #514721; }

/* line 6, ../../app/stylesheets/_interaction.sass */
.success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880; }
  /* line 44, ../../app/stylesheets/_interaction.sass */
  .success a {
    color: #264409; }

/* line 8, ../../app/stylesheets/_interaction.sass */
.hide {
  display: none; }

/* line 10, ../../app/stylesheets/_interaction.sass */
.highlight {
  background: yellow; }

/* line 12, ../../app/stylesheets/_interaction.sass */
.added {
  background: #006600;
  color: white; }

/* line 14, ../../app/stylesheets/_interaction.sass */
.removed {
  background: #990000;
  color: white; }

/* line 3, ../../app/stylesheets/app.sass */
body {
  background-color: #ebebeb;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
  font-size: 14px; }

/* line 8, ../../app/stylesheets/app.sass */
.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 920px; }
  /* line 31, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .grid_1, .wrap .grid_2, .wrap .grid_3, .wrap .grid_4, .wrap .grid_5, .wrap .grid_6, .wrap .grid_7, .wrap .grid_8, .wrap .grid_9, .wrap .grid_10, .wrap .grid_11, .wrap .grid_12 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px; }
  /* line 34, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .grid_1 {
    width: 56.667px; }
  /* line 34, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .grid_2 {
    width: 133.333px; }
  /* line 34, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .grid_3 {
    width: 210px; }
  /* line 34, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .grid_4 {
    width: 286.667px; }
  /* line 34, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .grid_5 {
    width: 363.333px; }
  /* line 34, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .grid_6 {
    width: 440px; }
  /* line 34, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .grid_7 {
    width: 516.667px; }
  /* line 34, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .grid_8 {
    width: 593.333px; }
  /* line 34, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .grid_9 {
    width: 670px; }
  /* line 34, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .grid_10 {
    width: 746.667px; }
  /* line 34, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .grid_11 {
    width: 823.333px; }
  /* line 34, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .grid_12 {
    width: 900px; }
  /* line 42, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .prefix_1 {
    padding-left: 76.667px; }
  /* line 42, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .prefix_2 {
    padding-left: 153.333px; }
  /* line 42, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .prefix_3 {
    padding-left: 230px; }
  /* line 42, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .prefix_4 {
    padding-left: 306.667px; }
  /* line 42, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .prefix_5 {
    padding-left: 383.333px; }
  /* line 42, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .prefix_6 {
    padding-left: 460px; }
  /* line 42, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .prefix_7 {
    padding-left: 536.667px; }
  /* line 42, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .prefix_8 {
    padding-left: 613.333px; }
  /* line 42, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .prefix_9 {
    padding-left: 690px; }
  /* line 42, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .prefix_10 {
    padding-left: 766.667px; }
  /* line 42, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .prefix_11 {
    padding-left: 843.333px; }
  /* line 50, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .suffix_1 {
    padding-right: 76.667px; }
  /* line 50, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .suffix_2 {
    padding-right: 153.333px; }
  /* line 50, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .suffix_3 {
    padding-right: 230px; }
  /* line 50, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .suffix_4 {
    padding-right: 306.667px; }
  /* line 50, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .suffix_5 {
    padding-right: 383.333px; }
  /* line 50, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .suffix_6 {
    padding-right: 460px; }
  /* line 50, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .suffix_7 {
    padding-right: 536.667px; }
  /* line 50, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .suffix_8 {
    padding-right: 613.333px; }
  /* line 50, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .suffix_9 {
    padding-right: 690px; }
  /* line 50, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .suffix_10 {
    padding-right: 766.667px; }
  /* line 50, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .suffix_11 {
    padding-right: 843.333px; }
  /* line 54, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .alpha {
    margin-left: 0; }
  /* line 56, ../../../../.rvm/gems/ruby-1.8.7-p249%rails3/gems/compass-960-plugin-0.9.11/sass/960/_grid.sass */
  .wrap .omega {
    margin-right: 0; }

/* line 11, ../../app/stylesheets/app.sass */
.note {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #FFEF8F; }
  /* line 16, ../../app/stylesheets/app.sass */
  .note .ui-icon {
    float: left;
    margin-right: 0.3em; }
